name: Update README on HA version change

on:
  push:
    branches: [ main ]
    paths:
      - ".HA_VERSION"

permissions:
  contents: write
  pull-requests: write

jobs:
  update-ha:
    # NOTE:
    # This workflow calls a reusable workflow located in the SAME repository.
    # This keeps the example simple and easy to understand.
    #
    # In real-world production setups, reusable workflows are often
    # moved to a dedicated repository and pinned to version tags.
    uses: ./.github/workflows/update-ha-badge-pr.yml
